.full {
  background-image: url("/public/images/bg-liquid.jpg");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
  font-family: poppins;
  /* background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);  */
}

.topbuttons button {
  width: 300px;
  padding: 10px;
  margin: 15px;
  font-weight: bold;
  margin-bottom: 8%;
  border-radius: 5px;
}

#signup {
  background-color: #af105b;
  color: #ffffff;
}

#signin {
  border-color: #af105b;
  color: #af105b;
  border: solid 2.5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  color: #460e8f;
}

label {
  margin-bottom: 8px;
}

#white-txt {
  color: wheat;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.bottomrow img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 48%;
  margin-top: 1.5%;
}

.bottomrow p {
  color: wheat;
}

#submit {
  background: linear-gradient(97deg, #ad37d7 20%, #6e26cd 66.67%, #4c0aa3 100%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 15px;
  width: 100.5% !important;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
