.staytuned-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
       height: 450px;
       width: 520px;
    }
}

p{
    font-size: large;
    font-weight: bold;
    color: black;

}