.bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.button-container {
  top: -10px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
  background: linear-gradient(97deg, #bb6bd9 0%, #6e26cd 54.67%, #4c0aa3 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
