
body{
    overflow-y: scroll;
}
.fullpage{
    display: flex;
    flex-direction:column;

    p {
        margin-left: 100px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 17px;
        text-decoration: dotted;
      }
}


.Category {
    margin: 1.5%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100;
    font-family: 'Poppins';
   
    button{
        padding: 7px;
        border: 2px solid rgb(230, 226, 226);
        border-radius: 4px;
        font-family:inherit;
        font-size: 17px;
        font-weight: 500;
        background:#A1CCA5 ;
  }
    button:hover{
      /* background: linear-gradient(97deg, #BB6BD9 0%, #6E26CD 54.67%, #4C0AA3 100%); */
       border: 4px solid #BB6BD9;
       font-weight: 600;
    }

}

h3{
    font-size: 17px;
    font-family: poppins;
}

.gov_pol{
  margin:none;

  .article{
    margin-left:80px;
    display: flex;
    flex-direction:row;
  }
  .podcast{
    margin-left:80px;
    display: flex;
    flex-direction:row;
  }
  .video{
    margin-left:80px;
    display: flex;
    flex-direction:row;
  }
}
 .myth{
  .article{
    margin-left:140px;
    display: flex;
    flex-direction:row;
  }
  p{
    text-align: center;
    font-family:'Poppins';
    font-size: 18px;
    margin: 4%;
    color:rgb(72, 25, 98);
    text-shadow: 10px 10px 20px rgb(202, 129, 166);
  }
 }

#current{

    background-color: #A10F54;
    color: #EEEEEE;
    cursor: pointer;
    border: none;
    font-family: poppins;
    padding: 10px;
    border-radius: 8px;
}

.video{
   margin:20px;
   margin-left:150px;
   display: flex;
   flex-direction:row;
}

.article{
    margin:20px;
    margin-left:150px;
    display: flex;
    flex-direction:row;
}

.podcast{
    margin:20px;
    margin-left:150px;
   display: flex;
   flex-direction:row;

}

@media only screen and (max-width: 768px) {

    .Category {
        flex-direction: column;
    }
    #current{
        width: 130px;
    }
    .fullpage{
      flex-direction: column;
    }
    .profile-info {
      flex-direction: column;

      .profile-name {
        margin-right: 0;
        margin-bottom: 5px;
      }

      .profile-photo {
        margin-bottom: 5px;
      }
    }
}