.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    font-family: poppins;
}

.topbuttons button {
    width: 300px;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    margin-bottom: 8%;
    border-radius: 5px;
}

#signup {
    background-color: #AF105B;
    color: #FFFFFF;
}

#signin {
    border-color: #AF105B;
    color: #AF105B;
    border: solid 2.5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    color: #460E8F;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}



.bottomrow img {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 48%;
}



#submit {
    background: linear-gradient(97deg, #ad37d7 20%, #6E26CD 66.67%, #4C0AA3 100%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 15px;
    width: 106.5%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}